{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 versions, > 1%, ie >= 8, Chrome >= 45, safari >= 10",
          "node": "current"
        },
        "modules": "commonjs",
        "loose": false
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
